# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env
.env.*

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Linux
*.swp
*.swo
*~

# Build
build/
dist/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Migrations (optional)
# */migrations/
# !*/migrations/__init__.py

# Node
node_modules/

# ROS
install/
build/
log/

# Colcon
.colcon/

# Cache
.cache/